.wrapper{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: #0D0D0D;
}

.loader {
  display: inline-block;

  box-sizing: border-box;
  width: 48px;
  height: 48px;

  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 48px;
  height: 48px;

  border-bottom: 4px solid #397cf4;
  border-left: 4px solid transparent;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
