/* loader */

.wrapperLoader{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: #0D0D0D;
}

.loader {
    display: inline-block;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-radius: 50%;

    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    border-bottom: 4px solid #397cf4;
    border-left: 4px solid transparent;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* recaptcha */

.recaptchaContainer {
    overflow: hidden;
    display: inline-block;

    width: 301px;
    height: 75px;
    padding: 0;

    border-radius: 4px;
}

/* select */

@media (width <= 768px) {
    .selectValue span {
        display: none
    }

    .selectHidden {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* TextAreaScroll */

.custom-textarea {
    touch-action: none;
    user-select: none;

    height: 0.75rem;

    border-top-color: transparent;
    border-top-width: 1px;
}

.custom-textarea::-webkit-scrollbar {
    width: 4px;
}

.custom-textarea::-webkit-scrollbar-track {
    background-color: rgb(23 23 23);
}

.custom-textarea::-webkit-scrollbar-thumb {
    cursor: default;
    background-color: rgb(51 51 51);
    border-radius: 2px;
}

.custom-textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(141 144 148);
}